body {
      font-family: Arial, sans-serif;
      background-color: #070606;
      background-size: cover;
      background-position: center;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 100px;
      background-color:rgba(55, 151, 162);
      border-image-width: 500px;    
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(48, 46, 46, 0.1);
    }
    #profileImage {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
    }

    input[type="file"] {
      display: none;
    }
    
    label {
      padding: 6px 10px;
      
      
      border: none;
      border-radius: 2px;
      cursor: pointer;
    }
    button{
      color: #fcf8f8;
      background-color: #0e0d0d;
      border-radius: 20px;
      align-items: center;
    }

   
  

    h1{
      text-align: center;
      color: white;
    }
    h4{
      
      color: #faf1f1;
    
    }
    h5{
      text-align: center;
      color: #0f0e0e;
    }

    .form-group {
      margin-bottom: 30px;
    }

    .form-group label {
      display: block;
      margin-bottom: 10px;
      color: #f8f9f5;
      font-weight: bold;
    }

    .form-group input,
    .form-group select {
      width: 100%;
      padding: 10px;
      border: 1px solid #090808;
      border-radius: 3px;
    }

    .form-group input[type="submit"] {
      background-color: #090d0d;
      font-size:medium ;
      color: rgba(55, 151, 162);
      font-weight: bold;
      cursor: pointer;
    }

    .form-group input[type="submit"]:hover {
      background-color: #090b0b;
    }
    .form-group button {
      background-color: #141713;
      color: rgb(15, 16, 16);
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
      
    .form-group button:hover {
      background-color: #0b1110;
    }
    a {
            color: rgb(213, 193, 193);
            text-decoration: none;
       }
       ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}

li.menu {
  float: left;
}

li a {
    
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(55, 151, 162);
}
button{
  color: #e7e7f0;
  background-color:rgb(55, 151, 162) ;
  text-decoration: none;
}